include includes.pug

-
  var features = {
  'Room Bookings':'We\'re currently working super hard on launching and improving the room bookings service. With the room bookings service you can query for rooms, bookings, and equipment. 🏠'
  };

  var imageFolder = './images/';
  var team = [
    {
      name: 'Wilhelm Klopp',
      role: 'Product Manager',
      image: imageFolder + 'wil.png'
    },
    {
      name: 'Henry Mortimer',
      role: 'Code Artisan',
      image: imageFolder + 'henry.jpg'
    },
    {
      name: 'Faiz Abdul',
      role: 'API Wizard',
      image: imageFolder + 'faiz.jpg'
    },
    {
      name: 'Jaromir Latal',
      role: 'Senior Software Architect',
      image: imageFolder + 'jaro.jpg'
    },
    {
      name: 'Chris Hammond',
      role: 'DevOps Ninja Extraordinaire',
      image: imageFolder + 'chris.jpg'
    },
    {
      name: 'Anirudh Pillai',
      role: 'Software Craftsman',
      image: imageFolder + 'anirudh.jpg'
    }
  ];

html
  head
    title UCL API
    meta(charset="utf-8")

    link(href="https://yui-s.yahooapis.com/pure/0.6.0/pure-min.css" rel="stylesheet")
    link(href="https://yui-s.yahooapis.com/pure/0.6.0/grids-responsive-min.css" rel="stylesheet")
    link(href="./stylesheets/index.css" rel="stylesheet")

    style .tcw:after { content: ""; display: block; margin-top: 25%; }
  body
    div(class="headerBlock")
      object(type="image/svg+xml" data="./images/uclapiWhite.svg")
      h1 UCL API
      h2 Building a better university
      div(class="buttons")
        a(class="button" href="/dashboard/") Get Started
        a(class="button" href="https://docs.uclapi.com") Documentation
      br
      div(class="buttons")
        a(class="button" href="https://blog.techsoc.io/the-launch-of-ucl-api-e835d7c80925") Read the Launch Blog Post
    div(class="block" )
      div(class="content")
        h2 Our Goal
        p Create a ridiculously simple, documentation first, and comprehensive API around UCL's digital services and establish an ecosystem of third party UCL apps and services that use the API.

    div(class="block" id="colour1")
      div(class="content")
        h2 Road Map
        each description, name in features
          +feature(name)
            p= description
        p(class="roadmap-link")
          a(href="https://trello.com/b/mimLkk3c/ucl-api-roadmap") The UCL API Roadmap is public. Check it out and vote ✅
    div(class="block")
      div(class="content")
        h2 The Team
        each member in team
          +teamMember(member.name, member.role, member.image)
