include includes.pug

-
  var features = { 
  'Room Bookings':'We are currently working on the room bookings API, initially allowing read access to expose data such as what rooms there are and when they are available before adding the ability to book rooms through the API as well.',
  'Moodle':'We want to make it much easier to access the data available on moodle such as grades, slides and notes.',
  'UCLU':'As well as working with ISD we want to make UCLU data more open as well to make all the services UCLU provide easier to use for individuals and societies'
  };

  var imageFolder = './images/';
  var team = [
    {
      name: 'Wilhelm Klopp',
      role: 'Project Manager',
      image: imageFolder + 'wil.jpg'
    },
    {
      name: 'Henry Mortimer',
      role: 'Code Artisan',
      image: imageFolder + 'henry.jpg'
    },
    {
      name: 'Faiz Abdul',
      role: 'API Wizard',
      image: imageFolder + 'faiz.jpg'
    },
    {
      name: 'Jaromir Latal',
      role: 'Senior Architect',
      image: imageFolder + 'jaro.jpg'
    },
    {
      name: 'Chris Hammond',
      role: 'DevOps Ninja Extraordinaire',
      image: imageFolder + 'chris.jpg'
    }
  ];

html
  head
    title UCL API
    link(href="https://yui-s.yahooapis.com/pure/0.6.0/pure-min.css" rel="stylesheet")
    link(href="https://yui-s.yahooapis.com/pure/0.6.0/grids-responsive-min.css" rel="stylesheet")
    link(href="./stylesheets/index.css" rel="stylesheet")
  body
    div(class="headerBlock")
      object(type="image/svg+xml" data="./images/uclapiWhite.svg")
      h1 UCL API
      h2 Creating a better university
      div(class="buttons")
        a(class="button" href="https://github.com/uclapi") Get Involved
    div(class="block" )
      div(class="content")
        h2 Our Goal
        p To create a ridiculously simple, documentation first API based around UCLs digital
          services and to establish an eco system of third party apps and services that utilise
          the API in ways we could never imagine, improving the lives of everyone at UCL for years to come. 
    div(class="block" id="colour1")
      div(class="content")
        h2 Road Map
        each description, name in features
          +feature(name)
            p= description
    div(class="block")
      div(class="content")
        h2 The Team
        each member in team
          +teamMember(member.name, member.role, member.image)
          
